DEFAULT_PROVIDER=openai
DEFAULT_MODEL=gpt-5.4
#OPENAI_API_KEY=
#GEMINI_API_KEY=

# Peon Framework Paths
PEON_SKILLS_DIR=../skills
PEON_FILE_PERMISSIONS=../file_permissions.txt
PEON_USER_PERMISSIONS=../user_permissions.csv

# Telegram Integration
TELOXIDE_TOKEN="123456789:ABCdefGHIjklmNoPQRsTuvwxyZ"
